BASE_URL = 
LOGIN = 
PASSWORD = 

# Timeout
QA_NAME= ''
WORKERS = 5
TEST_TIMEOUT = 150000 # Максимальное время выполнения одного теста
ACTION_TIMEOUT = 30000 # Максимальное время действия (например, click, fill и тд)
NAVIGATION_TIMEOUT = 30000 # Максимальное время действия навигации (например, goto)
EXPECT_TIMEOUT = 30000 # Максимальное время проверки

# База данных
DB_HOST = 
DB_PORT = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 

# Doker
CONTAINER_NAME_PREFIX=